{% extends 'base.html' %}
{% block title %}
Categories Home
{% endblock title %}

{% block content %}

        <main>
            <h1>My Categories</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for index in CategoryList %}
                    <tr>
                        <td>{{ index.name }}</td>
                        <td>{{ index.receipts.add|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

{% endblock content %}
