{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock title %}
            <!-- These are django tags to define a block where HTML can be inserted -->
            <!-- This block is for the title -->
        </title>
        <meta name="description" content="go away">
        <meta name="keywords" content="stop this message">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    Hello, {{user.username}}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'create_receipt' %}">Create a Receipt</a></li>
                    <li><a href="{% url 'home' %}">Receipts list</a></li>
                    <li><a href="{% url 'create_account' %}">Create an Account</a></li>
                    <li><a href="{% url 'account_list' %}">Accounts List</a></li>
                    <li><a href="{% url 'create_category' %}">Create an Expense Category</a></li>
                    <li><a href="{% url 'category_list' %}">Expense Category List</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock content %}
        <!-- This is content for the web page, mainly header and main tags -->
    </body>
</html>
