{% extends 'base.html' %}
{% block title %}
Accounts Home
{% endblock title %}

{% block content %}

        <main>
            <h1>My Accounts</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for index in AccountList %}
                    <tr>
                        <td>{{ index.name }}</td>
                        <td>{{ index.number }}</td>
                        <td>{{ index.receipts.add|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

{% endblock content %}
