{% extends 'base.html' %}
{% block title %}
Receipts Home
{% endblock title %}

{% block content %}

        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </thead>
                <tbody>
                    {% for index in ReceiptList %}
                    <tr>
                        <td>{{ index.vendor }}</td>
                        <td>{{ index.total }}</td>
                        <td>{{ index.tax }}</td>
                        <td>{{ index.date|date:"m/d/y" }}</td>
                        <td>{{ index.category.name }}</td>
                        <td>{{ index.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

{% endblock content %}
